.logo1 {
    font-family: Raleway;
font-size: 18px;
font-weight: 800;
line-height: 21px;
letter-spacing: 0.03em;
text-align: left;
color:  rgba(77, 90, 229, 1);
}
.logo2{
    color:  black;
font-size: 18px;
font-weight: 800;
line-height: 21px;
letter-spacing: 0.03em;
text-align: left;
font-family: Ralaway;
}
.link1{
    text-decoration: none;
}
