@import url('https://fonts.googleapis.com/css2?family=Raleway &display=swap');
.logo1 {
    font-size: 20px;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-align: left;
    color: rgba(77, 90, 229, 1);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}
.logo2{
    color:  black;
    font-size: 20px;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}
nav,
.contacts{
    font-family: 'Raleway',sans-serif;
    font-weight: 800;
}
h1{
    background: rgba(46, 47, 66, 1);
}

body{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}
/* all ul */
a,
ul{
    text-decoration: none;
    text-decoration-style: none;
    list-style: none;
    padding: 0%;
}
.std{
    color: rgba(77, 90, 229, 1);
}
[href*="port"],
[href*="info"],
[href*="contact"],
[href*="num"]{
    color:black;
}
footer{
    background: rgba(46, 47, 66, 1);
}
#studio{
    color: white;
}
/* button order service*/
.button{
    color: white;
    background-color: rgba(77, 90, 229, 1);
    border-radius: 6px;
    border: none;
    cursor: pointer;
}
.button:hover{
    opacity: 80%;
}
.button:active{
    transform: translateY(4px);
}
/* h1 */
.head1{
    text-align: center;
    color: white;
}
.section2{
    text-align: center;
}